@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap");

* {
  font-family: "Poppins";
  font-weight: 500;
}

body {
  background-color: #000000;
}

.container {
  position: relative;
  display: flex;
}

#mainBedroom {
  position: absolute;
  width: 229px;
  height: 239px;
  top: 292px;
  left: 35px;
}

#bedroomTwo {
  position: absolute;
  width: 210px;
  height: 257px;
  top: 35px;
  left: 131px;
}

#bedroomThree {
  position: absolute;
  width: 158px;
  height: 257px;
  top: 35px;
  left: 341px;
}

#laundry {
  position: absolute;
  width: 118px;
  height: 88px;
  top: 138px;
  left: 737px;
}

.room {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1s ease;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  color: #d2ebcd;
  cursor: pointer;
}

.room span {
  font-weight: 300;
  letter-spacing: 1.5px;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.lights-on {
  background-color: transparent !important;
}

.lights-on span {
  color: #000000;
  font-weight: 500;
  background-color: #f5eded;
  padding: 0 10px;
  border-radius: 5px;
}

.image {
  width: 850px;
  height: auto;
  margin: 20px;
  margin-bottom: 0;
}

#light-bedroom {
  position: absolute;
  top: 3px;
  left: -7px;
  width: 50px;
  height: 45px;
}

div span {
  text-align: center;
}

#bathroomBedroomOne {
  position: absolute;
  top: 366px;
  left: 264px;
  width: 139px;
  height: 165px;
}

#bathroomBedroomTwo span {
  transform: rotate(90deg);
}

#bathroomBedroomTwo {
  position: absolute;
  top: 366px;
  left: 409px;
  width: 93px;
  height: 165px;
}

#kitchen {
  position: absolute;
  top: 226px;
  left: 729px;
  width: 126px;
  height: 234px;
}

#livingRoom {
  position: absolute;
  top: 138px;
  left: 510px;
  width: 219px;
  height: 403px;
}

#hall {
  position: absolute;
  top: 292px;
  left: 264px;
  width: 246px;
  height: 74px;
}

#balcony {
  position: absolute;
  top: 54px;
  left: 510px;
  width: 228px;
  height: 84px;
}

#video-container {
  background-color: #3e3636;
  margin-top: 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: 418px;
  background-image: url("no_camera_480px.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#video-element {
  width: 418px;
  height: 272px;
  border-radius: 40px;
  margin: 0;
  object-fit: fill;
}

h2 {
  color: #d2ebcd;
}

ul {
  padding-right: 20px;
}

li {
  color: #fffcef;
}

h1,
p {
  color: #d2ebcd;
}

.door {
  transition: transform 0.5s ease-in-out; /* Transición suave para la animación */
  cursor: pointer;
  border-radius: 5px;
}

.open.door {
  transform: rotate(90deg);
}

#bathroomBedroomOneDoor {
  position: absolute;
  top: 367px;
  left: 257px;
  width: 13px;
  height: 56px;
  background: #804000;
  transform-origin: top center;
}

#bathroomBedroomOneDoor.open {
  transform-origin: top center;
  transform: rotate(-90deg);
}

#mainBedroomDoor {
  position: absolute;
  top: 293px;
  left: 256px;
  width: 13px;
  height: 66px;
  background: #804000;
  transform-origin: top center;
}

#mainBedroomDoor.open {
  transform-origin: top center;
  transform: rotate(90deg);
}

#bedroomTwoDoor {
  position: absolute;
  top: 281px;
  left: 269px;
  width: 69px;
  height: 13px;
  background: #804000;
  transform-origin: center right;
}

#bedroomTwoDoor.open {
  transform-origin: center right;
  transform: rotate(90deg);
}

#bedroomThreeDoor {
  position: absolute;
  top: 281px;
  left: 344px;
  width: 69px;
  height: 13px;
  background: #804000;
  transform-origin: center left;
}

#bedroomThreeDoor.open {
  transform-origin: center left;
  transform: rotate(-90deg);
}

#balconyDoor {
  position: absolute;
  top: 124px;
  left: 597px;
  width: 69px;
  height: 13px;
  background: #804000;
}

#balconyDoor.open {
  transform: rotate(0deg);
  transform: translateX(-67px);
}

#laundryDoor {
  position: absolute;
  top: 221px;
  left: 739px;
  width: 37px;
  height: 13px;
  background: #804000;
  transform-origin: center left;
}

#laundryDoor.open {
  transform-origin: center left;
  transform: rotate(90deg);
}

#bathroomBedroomTwoDoor {
  position: absolute;
  top: 360px;
  left: 444px;
  width: 56px;
  height: 13px;
  background: #804000;
  transform-origin: center right;
}

#bathroomBedroomTwo.open {
  transform-origin: center right;
  transform: rotate(-90deg);
}

#principalDoor {
  position: absolute;
  top: 530px;
  left: 654px;
  width: 73px;
  height: 11px;
  background: #7a7a7a;
  transform-origin: center right;
}

#principalDoor.open {
  transform-origin: center right;
  transform: rotate(90deg);
}

.window {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.window.vertical {
  width: 10px;
  height: 108px;
}

.window.horizontal {
  width: 108px;
  height: 10px;
}

#mainBedroomWindow {
  position: absolute;
  top: 356px;
  left: 30px;
  background: lightblue;
  transform-origin: center right;
}

#bedroomTwoWindow {
  position: absolute;
  top: 91px;
  left: 126px;
  background: lightblue;
  transform-origin: center right;
}

#kitchenWindow {
  position: absolute;
  top: 293px;
  left: 853px;
  background: lightblue;
  transform-origin: center right;
}

#livingRoomWindow {
  position: absolute;
  top: 530px;
  left: 533px;
  background: lightblue;
  transform-origin: center right;
}

.window.open.vertical {
  height: 40px !important;
}

.window.open.horizontal {
  width: 40px !important;
}

#modal {
  display: none;
  min-width: 240px;
  position: fixed;
  top: 50%;
  left: 81%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal p {
  color: #3e3636;
  margin: 7px;
  text-align: center;
}

#modal button {
  float: right;
  cursor: pointer;
  border: none;
  background-color: white;
}

#modal button:hover {
  color: gray;
}

#configurationPanel {
  color: #d2ebcd;
}
