.container {
  position: relative;
  width: 600px;
  height: 400px;
}

#bedroom {
  position: absolute;
  width: 337px;
  height: 291px;
  top: 48px;
  left: 368px;
}

.room {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1s ease;
}

.lights-on {
  background-color: transparent !important;
}

.image {
  width: 900px;
  height: auto;
}

.light-room--on {
  background-image: url("https://andlight.co.uk/images/fatboy-oloha-large-desert-packshot-05-105884_-p.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
}

#light-bedroom {
  position: absolute;
  top: 3px;
  left: -7px;
  width: 50px;
  height: 45px;
}

#bathroom {
  position: absolute;
  top: 48px;
  left: 699px;
  width: 151px;
  height: 258px;
}

#div3 {
  top: 100px;
  left: 450px;
  width: 100px;
  height: 100px;
}
