@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap");

* {
  font-family: "Poppins";
  font-weight: 500;
}

body {
  background-color: #000000;
}

.container {
  position: relative;
  display: flex;
}

#bedroom {
  position: absolute;
  width: 343px;
  height: 294px;
  top: 48px;
  left: 356px;
}

.room {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 1s ease;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  color: #d2ebcd;
  cursor: pointer;
}

.room span {
  font-weight: 300;
  letter-spacing: 4px;
  transition: 0.5s ease-in-out;
}

.lights-on {
  background-color: transparent !important;
}

.lights-on span {
  color: #000000;
  font-weight: 500;
  background-color: #f5eded;
  padding: 0 10px;
  border-radius: 5px;
}

.image {
  width: 900px;
  height: auto;
}

#light-bedroom {
  position: absolute;
  top: 3px;
  left: -7px;
  width: 50px;
  height: 45px;
}

#bathroom {
  position: absolute;
  top: 48px;
  left: 699px;
  width: 151px;
  height: 258px;
}

#kitchen {
  position: absolute;
  top: 342px;
  left: 468px;
  width: 383px;
  height: 285px;
}

#livingRoom {
  position: absolute;
  top: 33px;
  left: 10px;
  width: 346px;
  height: 605px;
}

#hall {
  position: absolute;
  top: 342px;
  left: 356px;
  width: 112px;
  height: 287px;
}

#hall span {
  transform: rotate(-90deg);
}

#video-container {
  background-color: #3e3636;
  margin-top: 30px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: 418px;
  background-image: url("no_camera_480px.png");
  background-repeat: no-repeat;
  background-position: center;
}

#video-element {
  width: 418px;
  height: 272px;
  border-radius: 40px;
  margin: 0;
  object-fit: fill;
}

h2 {
  color: #d2ebcd;
}

ul {
  padding-right: 20px;
}

li {
  color: #fffcef;
}

h1,
p {
  color: #d2ebcd;
}
